<noindex>
  <% if (studio) { -%>
    <div class="search-prompt" id="search-prompt" data-res=<%= studio %>>
      <button>В этой части карты ничего не нашел</button>
    </div>
  <% } else { -%>
    <div class="search-prompt" id="search-prompt" >
      <button>В этой части карты ничего не нашел</button>
    </div>	
  <% } -%>
</noindex>

