
<%- include('./sidenav', {'nav':'profile'}); -%>
<div class="container-header__nav"> 
  <header class="">
    <div class="nav">   
      <span class="burger-menu" onclick="dancemap.nav.openSidenav()">&#9776;</span>
    </div>
    <a class="nav" id="container-logo" href="/" title="Танцевальная карта dancemap">
      <span>dance</span><span>map</span>
    </a>
  </header>
</div>