
<%- include('./sidenav', {'nav':'event'}); -%>
<div class="container-header__nav"> 
  <header class="">
    <div class="nav">   
      <span class="burger-menu" onclick="dancemap.nav.openNav()">&#9776;</span>
    </div>
    <div class="nav container-input__pseudo">
      <input type="search" placeholder="Название события">
      <input type="button" value="" class="btn-clear" id="btn-clear"/>
    </div>
    <a class="nav" id="container-logo" href="/" title="Танцевальная карта dancemap">
      <span>dance</span><span>map</span>
    </a>
  </header>
  
  <div class='container-filters'>
    <div class="filter-dance">
      <select class="form-control" id="filter-category">
        <option value="all">Все события</option>
        <option value="hustle">Хастл</option>
        <option value="zouk">Зук</option>
        <option value="wcs">WCS</option>
        <option value="bachata">Бачата</option>
        <!--<option value="salsa">Сальса</option>-->
      </select>

    </div>
    <div class="filter-types">
      <select id="filter-type">
        <option value="all">Все направления</option>
        <option value="party">Опены/Вечеринки</option>
        <option value="masterclass">Мастер-классы</option>
        <option value="сompetition">Турниры</option>
        <option value="fest">Фестивали</option>
        <option value="online">Онлайн уроки</option>
      </select>
    </div>
    
    <!-- <div class="filter-date__nav">
      <span >
        <button id='date-left'></button>
      </span>
      <span>
        <button id='date-icon'></button>
      </span>
    </div>-->
    <div class="filter-date"> 
      <label for="datepicker" style="margin:0px 5px">до </label> 
      <input type="date" id="datepicker" name="" value="" required="required">
    </div>
    <!--<div class="filter-date__nav">
      <span>
        <button id='date-right'></button>
      </span>
    </div>-->
    <div class="filter-date__nav">
      <span>
        <button id='date-calendar'></button>
      </span>
    </div>
  </div>

  
  <noindex>
    <% if (markerEncoded) { -%>
      <div class="search-prompt" id="search-prompt" data-res=<%= markerEncoded %>>
        <button>В этой части карты ничего не нашел</button>
      </div>
    <% } else { -%>
      <div class="search-prompt" id="search-prompt" >
        <button>В этой части карты ничего не нашел</button>
      </div>	
    <% } -%>
  </noindex>

</div>