<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="dancemap.nav.closeNav()">&times;</a>
  <a class="side-nav__link" href="/add.html">Добавить школу танцев на карту</a>
</div>
<div class="container-header__nav"> 
  <header class="">
    <div class="nav">   
      <span class="burger-menu" onclick="dancemap.nav.openNav()">&#9776;</span>
    </div>
    <div class="nav container-input__pseudo">
      <input type="search" placeholder="Название студии">
      <input type="button" value="" class="btn-clear" id="btn-clear"/>
    </div>
    <a class="nav" id="container-logo" href="/" title="Танцевальная карта dancemap">
      <span>dance</span><span>map</span>
    </a>
  </header>
  
  <div class='container-filters'>
    <div class="filter-dance">
      <select class="form-control" id="class-selector">
        <option value="all">Все студии</option>
        <option value="hustle">Хастл</option>
        <option value="zouk">Зук</option>
        <option value="wcs">WCS</option>
        <option value="bachata">Бачата</option>
        <!--<option value="salsa">Сальса</option>-->
      </select>

    </div>
    <div class="filter-types">
      <select>
        <option value="0">Опены/Вечеринки</option>
        <option value="0">Мастерклассы</option>
        <option value="0">Турниры</option>
        <option value="0">Онлайн уроки</option>
      </select>
    </div>
    <div class="filter-date">
      <div><button id='date-icon'></button></div>
      <div><input type="date" id="datepicker" name="" value="2013-01-08" required="required"></div>
      <span><button id='date-left'></button></span><span><button id='date-right'></button></span>
    </div>
    <div class="filter-date__nav">
      
    </div>
  </div>
  
  <noindex>
    <% if (studio) { -%>
      <div class="search-prompt" id="search-prompt" data-res=<%= studio %>>
        <button>В этой части карты ничего не нашел</button>
      </div>
    <% } else { -%>
      <div class="search-prompt" id="search-prompt" >
        <button>В этой части карты ничего не нашел</button>
      </div>	
    <% } -%>
  </noindex>

</div>