<%- include('./sidenav', {'nav':'studio'}); -%>
<div class="container-header__nav"> 
  <header class="">
    <div class="nav">   
      <span class="burger-menu" onclick="dancemap.nav.openNav()">&#9776;</span>
    </div> 
    <div class="nav container-select__pseudo">
      <select class="form-control" id="class-selector">
        <option value="all">Все студии</option>
        <option value="hustle">Хастл</option>
        <option value="zouk">Зук</option>
        <option value="wcs">WCS</option>
        <option value="bachata">Бачата</option>
        <!--<option value="salsa">Сальса</option>-->
      </select>
    </div>
    <div class="nav container-input__pseudo">
      <input type="search" placeholder="Название студии">
      <input type="button" value="" class="btn-clear" id="btn-clear"/>
    </div>
    <a class="nav" id="container-logo" href="/" title="Танцевальная карта dancemap">
      <span>dance</span><span>map</span>
    </a>
  </header>
  <noindex>
    <% if (markerEncoded) { -%>
      <div class="search-prompt" id="search-prompt" data-res=<%= markerEncoded %>>
        <button>В этой части карты ничего не нашел</button>
      </div>
    <% } else { -%>
      <div class="search-prompt" id="search-prompt" >
        <button>В этой части карты ничего не нашел</button>
      </div>	
    <% } -%>
  </noindex>

</div>