
<% if (title) { %>
  <title>Школа танцев <%= title %></title>
  <meta name="Description" content="Школа танцев <%= title %>, направления: <%= classes %>"/>
<% } else { %>
  <title>Студии и школы танцев, танцевальные события и вечеринки на онлайн карте Dancemap.online</title>
  <meta name="Description" content="Студии и школы танцев, танцевальные события и вечеринки на онлайн карте Dancemap.online"/>
<% } %>

