<% if (marker) { %>
  <div id="sidenav" class="sidenav">
    <a href="javascript:void(0)" class="btn-close" onclick="dancemap.nav.closeNav()">&times;</a>
    <a class="side-nav__link" href="/add.html">Добавить школу танцев на карту</a>
  </div>
<% } else { %>
  <div id="sidenav" class="sidenav">
    <a href="javascript:void(0)" class="btn-close" onclick="dancemap.nav.closeNav()">&times;</a>
    <a class="side-nav__link" href="/add.html">Добавить школу танцев на карту</a>
  </div>
<% } %>




