html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}
	
* {
  font-family: 'Roboto', Helvetica, Arial,Tahoma,sans-serif;
}

.container-header__nav {
  border-top:  #D91A3D solid 4px;
  
}
header {
  height: auto;
  min-height: 55px;
  /*background: rgb(242, 80, 80);*/
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

header > * {
 padding: 10px
}

select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 16px/24px 'Roboto', Helvetica, Arial,Tahoma,sans-serif;
    color:black;
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
}

#logo {
  display: inline-block;
}
	
#logo div {
  margin: 0;
  color: #f2f2f2;
}
	
.nav {
  display: inline-block;  
}
	
.nav a {
  display: inline-block;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  margin: 4px;
}

/* search input field */
.container-input__pseudo {
  position: relative;
  display: flex;
  align-items: center;
}

.container-input__pseudo:before {
  color: #fff;
  content: "";
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(../images/search-solid.svg) center / contain no-repeat;
  opacity: 0.50;
}


input[type=search]::-webkit-search-cancel-button {
  /*Remove default styles*/
  -webkit-appearance:none;
  /*
  height: 14px;
  width:14px;
  display: block;
  background-image: url(../images/close-solid.svg);
  background-size: 18px;*/
}
input[type=search] {
  box-sizing: border-box;
  background: #f5f5f5;
  border: solid 1px #ccc;
  padding: 7px 10px 7px 32px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 5px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  background-color: #fff;
  border-color: #6dcff6;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.btn-clear {
  background:url('../images/close-solid.svg') no-repeat  no-repeat;
  width: 20px;
  height: 20px;
  border: 0px;
  cursor: pointer;
  pointer-events: bounding-box;
  border-color: #FFF;
  opacity: 0.6;
  transform: scale(1.2);
}

.btn-clear:hover { 
  opacity: 1;
}
.btn-clear:active { 
  transform: scale(1.3);
}

.btn-clear:focus { 
  outline:0 !important;
}

/* placeholder */
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

.search-prompt {
  position: relative;
  display: flex;
  z-index: 9999;
  overflow-x: hidden;
  cursor: pointer;

}
.search-prompt button {
  background-color: #D91A3D;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  margin: auto;

}

@media only screen and (max-width: 480px) {
  input[type=search] {min-width: 65vw;}

  #class-selector {
  -webkit-appearance: none; 
  background: url(../images/filter-solid.svg) no-repeat right;
  width:22px;
}

}
@media only screen and (min-width: 480px) {
  input[type=search] {min-width: 55vw;}
}
@media only screen and (min-width: 600px) {
  input[type=search] {min-width: 45vw;}
}
@media only screen and (min-width: 900px) {
  input[type=search] {min-width: 30vw; }
}

/*SIDE NAV*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #D91A3D;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #F20505;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.burger-menu {
  font-size: 24px;
  cursor: pointer;
  color: #D91A3D;
  padding: 0;
}

.burger-menu a:hover {
  color: #F20505;;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*MAP*/

#map-box {
  overflow: hidden;
  position: absolute;
  top: 55px;
  bottom: 0;
  width: 100%;
}
    
.fa-map-marker-alt {
  padding-right: 5px;
  color: grey;
}

.count-icon {
  background:#ff8888;
  border:5px solid rgba(255,255,255,0.5);
  color:#fff;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
}

.count-icon:hover {
  background:#bbb;
}

.info-container {
  display: inline-flex;
  justify-content: center;
  margin-top: 5px;
}

.container-icon {
  display: inline-block;
  margin: 0 5px 0 0;
}

.container-icon svg .icon--grey {
  fill: grey;
}

.container-icon svg .vk--blue {
  fill: #4680C2;
}



.leaflet-control-location a {
  cursor: pointer; 
}

.icon.geolocation {
  display: inline-block;
  margin: 6px;
  background-image: url(/images/location-arrow-solid.svg);
  height: 18px;
  width: 18px;
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.studio-title {
  font-weight:bold;
}

/* Show popups on hover so hide the close link
.leaflet-popup-close-button {
  display:none;
} */

.leaflet-container a.leaflet-popup-close-button { 
  font: 20px/18px Tahoma, Verdana, sans-serif;
}

.leaflet-container {
    font: 14px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* Color Theme Swatches in Hex */
.Графический-дизайн-1-hex { color: #D91A3D; }
.Графический-дизайн-2-hex { color: #0339A6; }
.Графический-дизайн-3-hex { color: #034AA6; }
.Графический-дизайн-4-hex { color: #1261A6; }
.Графический-дизайн-5-hex { color: #F20505; }

/* Color Theme Swatches in RGBA */
.Графический-дизайн-1-rgba { color: rgba(216, 26, 60, 1); }
.Графический-дизайн-2-rgba { color: rgba(3, 57, 165, 1); }
.Графический-дизайн-3-rgba { color: rgba(3, 73, 165, 1); }
.Графический-дизайн-4-rgba { color: rgba(18, 96, 165, 1); }
.Графический-дизайн-5-rgba { color: rgba(242, 4, 4, 1); }

/* Color Theme Swatches in HSLA */
.Графический-дизайн-1-hsla { color: hsla(348, 78, 47, 1); }
.Графический-дизайн-2-hsla { color: hsla(219, 96, 33, 1); }
.Графический-дизайн-3-hsla { color: hsla(213, 96, 33, 1); }
.Графический-дизайн-4-hsla { color: hsla(208, 80, 36, 1); }
.Графический-дизайн-5-hsla { color: hsla(0, 96, 48, 1); }