<!DOCTYPE html>
<html>
  <head>
    <title>Mongo</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="Description" content=""/>
    <link href='/css/main.css' rel='stylesheet' />
    <link href="https://transloadit.edgly.net/releases/uppy/v1.14.1/uppy.min.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <style>
      #containerForm {
        display: flex;
      }
      form {
        display: inline-flex;
        flex-direction: column;
        margin: auto;
        min-width: 360px;
      }

      form fieldset {
        margin: 10px 0px;
        display:flex;
        flex-direction: column;
      } 
      form label {
        padding: 8px 2px 2px 2px;
      }
      form input {
        font-size: 16px;
        padding: 4px 2px;
      }
      form input[type=text] {
        width: 100%;
      }
      form textarea {
        width: 100%;
        height: 150px
      }
      #publishBlock {

      }
      #eventBlock {

      }

      .btn {
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 16px 2px 6px 2px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
        width: 100%;
      }
      .blue-bg {
        background-color: #4c90cc;
      }
      .blue-bg:hover {
        background-color: #1261A6;
      }
      .red-bg {
        background-color: #F20505;
      }
      .red-bg:hover {
        background-color: #D91A3D;
      }
      .grey-bg {
        color: #808080;
        background-color: #D3D3D3;
      }
      .grey-bg:hover {
        background-color: #C0C0C0;
      }      
      .disabled-bg {
        color: #A9A9A9;
        background-color: #E8E8E8;
      }
      .active {
        display: block;
      }

      .tab {
        display: none;
      }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    </head>
  
  <body>

    <div class="container-header__nav"> 
      <header class="">
          
         <a class="nav btn-back" href="/">Назад на главную</a>
        
        <a class="nav" id="container-logo" href="/" title="Танцевальная карта dancemap">
          <span>dance</span><span>map</span>
        </a>
      </header>
    </div>  

  
  <div id="containerForm">

    <form id="form">
      
      <div class="imgBlock tab">
        <div id="drag-drop-area"></div>
      </div>
      <div class="descBlock tab">
        <div>
          <fieldset id=publishBlock>
            <h1>Post marker</h1>
              <span><label for="debug">Debug</label>
              <input type="checkbox" name="debug" id="debug" checked>
            </span>  
            <input class="btn red-bg" id="submit" type="submit" name="Submit">
          </fieldset>
        </div>
        

        <div id="generalBlock">
          <fieldset>
            <span>
              <label for="eventRecord">Event</label>
              <input type="radio" id="eventRecord" name="recordType" value="event" checked>
              <label for="studioRecord">Studio</label>
              <input type="radio" id="studioRecord" name="recordType" value="studio"> 
            </span>     
          </fieldset>

          <fieldset>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" minlength="1" maxlength="30" value="test name" required>
            <label for="subtype">Subtype:</label>
            <input type="text" name="subtype" id="subtype" minlength="1" maxlength="30" value="sub type" required>
            <label for="altername">Altername:</label>
            <input type="text" name="altername" id="altername" minlength="1" maxlength="30" value="test altername" required>
            <label for="desc">Desc:</label>
            <textarea placeholder="Опишите" name="desc" id="desc" value="test desc" maxlength="30000" required> </textarea>
            <label for="address">Address:</label>
            <input type="text" name="address" id="address" minlength="1" maxlength="200" value="test address" required>
            <label for="city">City:</label>
            <input type="text" name="city" id="city" minlength="1" maxlength="50" value="test city" required>
            <label for="country">Country:</label>
            <input type="text" name="country" id="country" minlength="1" maxlength="50" value="test city" required>
            <label for="vk">vk:</label>
            <input type="text" name="vk" id="vk" minlength="1" maxlength="50" value="test vk">
            <label for="lat">Latitude:</label>
            <input type="text" name="lat" id="lat"  minlength="1" maxlength="10" value="1.1" required>
            <label for="lon">Longitude:</label>
            <input type="text" name="lon" id="lon"  minlength="1" maxlength="10" value="1.1" required>
            <label for="img">Image:</label>
            <input type="file" id="img" name="img" accept="image/png, image/jpeg">
          </fieldset>
          <fieldset id="courseBlock">
            <span>
              <input type="checkbox" name="course" id="hustle" value="hustle">
              <label for="hustle">hustle</label>
            </span>
            
            <span>
              <input type="checkbox" name="course" id="zouk" value="zouk">
              <label for="zouk">zouk</label>
            </span>
            
            <span>
              <input type="checkbox" name="course" id="wcs" value="wcs">
              <label for="wcs">wcs</label>
            </span>
            
            <span>
              <input type="checkbox" name="course" id="salsa" value="salsa">
              <label for="salsa">salsa</label>
            </span>
            
            <span>
              <input type="checkbox" name="course" id="bachata" value="bachata">
              <label for="bachata">bachata</label>
            </span>
          
            <span>
              <label for="speciality">Speciality: (Хастл,etc - without spaces!)</label>
              <input type="text" name="speciality" id="speciality"  value="Хастл,Зук" required>
            </span>

          </fieldset>
        </div>

        <div id="eventBlock">
          <fieldset id="dateBlock" name='dateBlock'>
            <label for="start">Start Date: ()</label>
            <input type="date" name="start" id="start"  required>
            <label for="end">End Date: ()</label>
            <input type="date" name="end" id="end"  required>
            <label for="nestedgroup">Nested group: (id1,id2,etc - without spaces!)</label>
            <input type="text" name="nestedgroup" id="nestedgroup" >        
          </fieldset>

          <fieldset id="activityBlock" name='activityBlock'>
            <span>
              <input type="checkbox" name="activity"  value="masterclass" id="masterclass">
              <label for="masterclass">Masterclass</label>
            </span>
           
            <span>
              <input type="checkbox" name="activity"  value="party" id="party">
              <label for="party">Party</label>
            </span>
            
            <span>
              <input type="checkbox" name="activity"  value="fest" id="fest">
              <label for="fest">Fest</label>
            </span>
            
            <span>
              <input type="checkbox" name="activity"  value="competition"  id="competition">
              <label for="competition">Competition</label>
            </span>
            
            <span>
              <input type="checkbox" name="activity"  value="camp" id="camp">
              <label for="camp">Camp</label>
            </span> 

            <span>
              <input type="checkbox" name="activity"  value="online" id="online">
              <label for="online">Online</label>
            </span>       
          </fieldset>

          <fieldset id="offerBlock" name='offerBlock'>
            <label for="offer">offer1:</label>
            <input type="text" name="offer" value='{"name":"n1","price":"1", "expired":"до", "currency":"RUB"}' >
            <label for="offer">offer2:</label>
            <input type="text" name="offer" value='{"name":"n2","price":"2", "expired":"до","currency":"RUB"}' >
            <label for="offer">offer3</label>
            <input type="text" name="offer" value='{"name":"n3","price":"3", "expired":"до","currency":"RUB"}'> 
            <label for="offer">offer4</label>
            <input type="text" name="offer" value='{"name":"n4","price":"4", "expired":"до","currency":"RUB"}'> 
            <label for="offer">offer5</label>
            <input type="text" name="offer" value='{"name":"n5","price":"5", "expired":"до","currency":"RUB"}'>        
          </fieldset>
        </div>
      </div>

      <div class="controlBlock">
        <button class='btn grey-bg' type="button" id="prevBtn">Назад</button>
        <button class='btn disabled-bg' type="button" id="nextBtn" disabled="disabled">Далее</button>
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" ></script>
  <script src="https://transloadit.edgly.net/releases/uppy/v1.14.1/uppy.min.js"></script>
  <script src="https://transloadit.edgly.net/releases/uppy/locales/v1.13.3/ru_RU.min.js"></script>
  
  <script  src="/js/dancemap.js"></script>
  <script  src="/js/formstep.js"></script>
  <script  src="/js/util.js"></script>
 <script  src="/js/socket.js"></script>

  <script>
    window.addEventListener("unload", function() {
      const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      const headers = {
        "CSRF-Token": csrf
      };
      const body = {};
      
      let blob = new Blob([JSON.stringify([body])], headers);
      navigator.sendBeacon("/formclosed", blob);
      /*fetch("/formclosed", {
          method: "POST",
          headers: {
            "CSRF-Token": Cookies.get("XSRF-TOKEN"),
          }
        })*/
    });
    const navSettings = {
      next: document.getElementById('nextBtn'),
      prev: document.getElementById('prevBtn'),
      tabs: document.getElementsByClassName("tab"),
      activeTab: 0
    }
    const dataSettings = {
      form: document.querySelector('form')
    }

    this.dancemap.formstep.setForm(navSettings);
    this.dancemap.formstep.setFormData(dataSettings);
    this.dancemap.formstep.setUppy({debug: true});


  </script>

    
  </body>
</html>
