<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="yandex-verification" content="e73d49b4298f11ea" />
  <title>Профиль пользователя</title>
  <%- include('./partials/counters', {}); -%>
</head>
<body>
   <main> 
     <h1>Профиль пользователя</h1>
     <p><a href="/api/addmarker">Добавить студию или событие</a></p>
     <p><a href="/sessionLogout">Выйти</a></p>
   </main>

</body>
</html>